[submodule "ROS2_WS/src/slam_toolbox"]
  path = SLAM_PROJECT/ROS2_WS/src/slam_toolbox
  url = https://github.com/Saleh1806/slam_toolbox.git

[submodule "ROS2_WS/src/rplidar_ros"]
  path = SLAM_PROJECT/ROS2_WS/src/rplidar_ros
  url = https://github.com/Saleh1806/rplidar_ros.git
