[submodule "ROS2_WS/src/slam_toolbox"]
  path = ROS2_WS/src/slam_toolbox
  url = https://github.com/SteveMacenski/slam_toolbox.git

[submodule "ROS2_WS/src/rplidar_ros"]
  path = ROS2_WS/src/rplidar_ros
  url = https://github.com/Slamtec/rplidar_ros.git
